Source: lsmcd
Maintainer: QQ <coldegg449@gmail.com>
Build-Depends: debhelper (>= 13),
               wget, ca-certificates, libevent-dev, 
               git, build-essential, zlib1g-dev,
               libexpat1-dev, openssl, libssl-dev,
               libsasl2-dev, libpcre3-dev, sasl2-bin

Package: lsmcd
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, adduser
Description: high-performance memory object caching system
