#!/usr/bin/make -f

CC = $(DEB_HOST_GNU_TYPE)-gcc
CFLAGS := `dpkg-buildflags --get CFLAGS` -Wall
LDFLAGS := `dpkg-buildflags --get LDFLAGS`
CPPFLAGS := `dpkg-buildflags --get CPPFLAGS`

DEB_VERSION = $(shell dpkg-parsechangelog --show-field Version)
LSMCD_VERSION='1.4.38'

clean:
	rm -f lsmcd
	rm -f lsmcd.1.gz
	rm -f debian/tmp

build: build-arch build-indep

binary: binary-arch binary-indep

build-arch:
	./fixtimestamp.sh
	./configure CFLAGS=" -O3" CXXFLAGS=" -O3"
	make

binary-arch:
	rm -rf debian/tmp
	mkdir -p debian/tmp/DEBIAN
	dpkg-gencontrol -plsmcd
	mkdir -p debian/tmp/usr/bin
	cp src/lsmcd debian/tmp/usr/bin
	strip --strip-unneeded --remove-section=.comment --remove-section=.note debian/tmp/usr/bin/lsmcd
	dpkg-deb --build debian/tmp ../lsmcd_$(DEB_VERSION)_$(DEB_TARGET_ARCH).deb

build-indep:
	gzip -c lsmcd.1 > lsmcd.1.gz

binary-indep:
	rm -rf debian/tmp
	mkdir -p debian/tmp/DEBIAN
	dpkg-gencontrol -plsmcd-doc
	mkdir -p debian/tmp/usr/share/man/man1
	cp lsmcd.1.gz debian/tmp/usr/share/man/man1
	dpkg-deb --build debian/tmp ../lsmcd-doc_$(DEB_VERSION)_all.deb
