#!/usr/bin/make -f

CC = $(DEB_HOST_GNU_TYPE)-gcc
CFLAGS := `dpkg-buildflags --get CFLAGS` -Wall
LDFLAGS := `dpkg-buildflags --get LDFLAGS`
CPPFLAGS := `dpkg-buildflags --get CPPFLAGS`

DEB_VERSION = $(shell dpkg-parsechangelog --show-field Version)
LSMCD_VERSION='1.4.38'

clean:
	rm -f lsmcd
	rm -f lsmcd.1.gz
	rm -f debian/tmp

build: build-arch

binary: binary-arch

build-arch:
	./fixtimestamp.sh
	./configure CFLAGS=" -O3" CXXFLAGS=" -O3"
	make

binary-arch:
	rm -rf debian/tmp
	mkdir -p debian/tmp/DEBIAN
	dpkg-gencontrol -plsmcd
	mkdir -p debian/tmp/usr/bin
	cp src/lsmcd debian/tmp/usr/bin
	mkdir -p debian/tmp/usr/share/lsmcd
	cp dist/bin/lsmcdctrl debian/tmp/usr/share/lsmcd
	chmod 775 debian/postinst
	cp -a debian/postinst debian/tmp/DEBIAN
	cp debian/lsmcd.service debian/tmp/usr/share/lsmcd
	strip --strip-unneeded --remove-section=.comment --remove-section=.note debian/tmp/usr/bin/lsmcd
	echo 'debug'; ls -l; ls -l debian
	dpkg-deb -v --build debian/tmp ../lsmcd_$(DEB_VERSION)_$(DEB_TARGET_ARCH).deb


#binary-arch:
#	rm -rf debian/tmp
#	mkdir -p debian/tmp/DEBIAN
#	dpkg-gencontrol -plsmcd
#	mkdir -p debian/tmp/usr/bin
#	mkdir -p debian/tmp/usr/local/lsmcd/bin
#	mkdir -p debian/tmp/usr/local/lsmcd/conf
#	cp src/lsmcd debian/tmp/usr/local/lsmcd/bin
#	cp dist/bin/lsmcdctrl debian/tmp/usr/local/lsmcd/bin
#	cp dist/conf/* debian/tmp/usr/local/lsmcd/conf
#	chmod 775 debian/postinst
#	cp -a debian/postinst debian/tmp/DEBIAN
#	cp debian/lsmcd.service debian/tmp/DEBIAN/
#	strip --strip-unneeded --remove-section=.comment --remove-section=.note debian/tmp/usr/local/lsmcd/bin/lsmcd
#	echo 'debug'; ls -l; ls -l debian
#	dpkg-deb -v --build debian/tmp ../lsmcd_$(DEB_VERSION)_$(DEB_TARGET_ARCH).deb


build-indep:
	gzip -c lsmcd.1 > lsmcd.1.gz

binary-indep:
	rm -rf debian/tmp
	mkdir -p debian/tmp/DEBIAN
	dpkg-gencontrol -plsmcd-doc
	mkdir -p debian/tmp/usr/share/man/man1
	cp lsmcd.1.gz debian/tmp/usr/share/man/man1
	dpkg-deb --build debian/tmp ../lsmcd-doc_$(DEB_VERSION)_all.deb
